* {
    font-family: "Arial", sans-serif;
    font-size: 12pt;
    text-align: center;
}

body {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    transition: background-color 1s ease;
}

.gradient-1 {
    background: linear-gradient(45deg, #6D5BBA, #FF758C);
}
  

.gradient-2 {
    background: linear-gradient(45deg, #FFD3A5, #FD6585);
}

.gradient-3 {
    background: linear-gradient(45deg, #868F96, #596164);
}

main {
    background: #2f363d;
    color: #fff;
    letter-spacing: 1px;
    max-width: 400px;
    padding: 32px;
}

a {
    color: #0066ff;
    margin: 0 16px;
    text-decoration: none;
}

div:not(:last-child) {
    margin-bottom: 16px;
}